.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

img {
  width: 20px;
}

h2 {
  margin: 5px 0 5px 0;
  padding: 0;
}

.header {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

.general-form, .general, .education-form, .education, .experience-form, .experience, .preview, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


form input {
  margin-left: 5px;
}

@media print {
  form, .footer, .header, button {
      display: none;
   }
  
   .preview {
      display: block;
   }
}

.footer {
  position: relative;
  bottom: 0;
}

.App {
  height: 100vh;
}